__pycache__/
*.pyc
*_bkp.py
flops.py
checkpoint/
log*/
exp/
initmodel/
result/
*.swp
test*
apex
hermes_resunet.pth
data/1p_train/**
data/10p_train/**
data/50p_train/**
data/100p_train/**

prepoccessing_data/1p_train/**
prepoccessing_data/10p_train/**
prepoccessing_data/50p_train/**
prepoccessing_data/100p_train/**