tifffile
timm==0.9.12
tokenizers==0.15.2
torch==2.1.2
torchaudio==2.1.2
torchvision==0.16.2
tqdm==4.66.1
traceback2==1.4.0
transformers==4.37.2
triton==2.1.0
tzdata==2023.4
unittest2==1.1.0
wcwidth==0.2.13
Werkzeug==3.0.1
zipp==3.17.0
